<!--
<h1>{{title}}</h1>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/notes">Notes</a>

  <a *ngIf="!islogged" routerLink="/login">Login</a>
  <a *ngIf="islogged"  routerLink="/logout">Logout</a>
</nav>
-->

<div class="jumbotron">
  <div class="container" [ngStyle]="{'background-color':'#333333'}" >
      <nav class="custom-navbar" [ngStyle]="{'background-color':'#333333'}">
          <div class="custom-header" [ngStyle]="{'background-color':'#333333'}">
              <div style="display:inline-block">
                <a href="http://www.gencat.cat" title="Generalitat de Catalunya" target="_blank">
                <img src="assets/img/NG_logo_generalitat.png" alt="Generalitat de Catalunya">
                </a>
              </div>
              <div style="display:inline-block">
                <ul class="btnListCabecera">
                    <li><a (click)="switchLanguage('cat')">cat</a></li>
                </ul>
              </div>
              <div style="display:inline-block">
                  <ul class="btnListCabecera">
                      <li><a (click)="switchLanguage('es')">es</a></li>
                  </ul>
              </div>

              <div style="display:inline-block; float:right;">
                  <!-- <a ng-click="logout()" href="index.html">Logout</a> -->
                  <a *ngIf="!(islogged)" routerLink="/login">Login</a>
                  <a *ngIf="(islogged)"  routerLink="/logout">Logout</a>
              </div>
              <h3>
                <span class="label ng-scope" translate="">{{ 'TITOLS.' + literals.OAPC | translate }}</span>
              </h3>
          </div>

        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">OAPC</a>
          </div>
    
          <div class="collapse navbar-collapse" [collapse]=isCollapsed>

            <ul class="nav navbar-nav" routerLinkActive="active">
              
              <li class="nav-item"><a class="nav-link" routerLink="/register">{{ 'TITOLS.' + literals.regPreus | translate }}<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/gestReg">{{ 'TITOLS.' + literals.gesReg | translate }}<span class="sr-only">(current)</span></a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" dropdown>
                <a href="javascript:void(0)" dropdownToggle class="dropdown-toggle">{{ 'TITOLS.' + literals.admin | translate }} <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/gestEmp">Gestió d'empreses<span class="sr-only">(current)</span></a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="/gestProd">Gestió de productes<span class="sr-only">(current)</span></a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="/tres">Gestió de dades mestres<span class="sr-only">(current)</span></a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="/cuatro">Gestió d'usuaris<span class="sr-only">(current)</span></a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="/gestPer">Gestió de Periodes<span class="sr-only">(current)</span></a></li>
                  </ul>
              </li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

      </nav>
    </div>

</div>
<router-outlet></router-outlet>
