<div class="modal-header">
  <h4 class="modal-title pull-left">{{titulo}}</h4>
  
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <label [hidden]="notErrorPeriode">Error. Periode seleccionat no disponible pel producte escollit.</label>
</div>

<div class="modal-body">

    <ul *ngIf="lista.length">
        <li *ngFor="let item of lista">{{item}}</li>
    </ul>

  <!-- https://v4-alpha.getbootstrap.com/components/forms/#form-controls -->

    <form  (ngSubmit)="onConfirm(f)" #f="ngForm">
      <div class="form-group row margin-bottom">
        
        <div>
            <label for="periode" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.per | translate }}</label>
            
            <select class="col-md-3 col-xs-12" style="width:260px;" name="periode" [(ngModel)]="nouPeriode" #nouPeriodeC = "ngModel" (change) = "changeSelectedPeriodeModal($event)" required>
              <option *ngFor="let h of periodesModal" [ngValue]="h">{{ h.numPeriode + " - " + h.tipusPeriode + " ("}} {{h.dataInici | date: 'dd/MM/yyyy'}} - {{ h.dataFi | date: 'dd/MM/yyyy'}} )</option>
          </select>
          </div> 
      </div>

      <div class="form-group row margin-bottom">
        <div >
          <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.empIn | translate }}</label>
          <input [attr.disabled]="true" type="text"  class="col-md-3 col-xs-12"    id="eInformant"    name="eInformant"    [(ngModel)]="eInformant" value="{{datos_entrada?.empresaInformant}}">
        </div>
    
        <div >
          <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.usuIn | translate }}</label> 
          <input [attr.disabled]="true" name="usuariActual"  type="text"  class="col-md-3 col-xs-12"    id="uInformant"  name="uInformant" placeholder="{{ usuariActual | translate}}">
        </div>
      </div>
    <div class="form-group row margin-bottom">
      <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.tipPro | translate }}</label>
    
         <select class="col-md-3 col-xs-12" name="productes" [(ngModel)]="producteSelected" #producteSelectedC = "ngModel" (change) = "changeSelesctedTipusProducteModal($event)" required>
            <option *ngFor="let c of productesModal" [ngValue]="c">{{ c.nom }}</option>
        </select>
      
        <ng-container *ngIf="this.comboInfoModal && isPinyol;then content"></ng-container>
      <ng-template #content>
      <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.colCa | translate }}</label>
       
          <select class="col-md-3 col-xs-12" name="colorsCarn" [(ngModel)]="colorCarnSelected" #colorCarnSelectedC = "ngModel" required>
            <option *ngFor="let v of comboInfoModal.colorsCarn" [ngValue]="v.nom">{{ v.nom }}</option>
          </select>  
      </ng-template>  
    
      
    <ng-container *ngIf="comboInfoModal && isLlavor;then content4"></ng-container>
    <ng-template #content4>
    <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.vari | translate }}</label>
    
    
    <select class="col-md-3 col-xs-12"  name="varietats" [(ngModel)]="varietatSelected" #varietatSelectedC = "ngModel" required>
      <option *ngFor="let y of comboInfoModal.varietats" [ngValue]="y.nom">{{ y.nom }}</option>
    </select>  
</ng-template>
</div>
    <div class="form-group row margin-bottom">
        <ng-container *ngIf="comboInfoModal;then content2"></ng-container>
        <ng-template #content2>
        <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.qual | translate }}</label>
        
           <select class="col-md-3 col-xs-12" name="qualitats" [(ngModel)]="qualitatSelected" #qualitatSelectedC = "ngModel" required>
          <option *ngFor="let q of comboInfoModal.qualitats" [ngValue]="q.nom">{{ q.nom }}</option>
        </select>   
    </ng-template>
    <ng-container *ngIf="comboInfoModal;then content3"></ng-container>
    <ng-template #content3>  
      <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.cali | translate }}</label>
      
       <select class="col-md-3 col-xs-12" name="calibres" [(ngModel)]="calibreSelected" #calibreSelectedC = "ngModel" required>
        <option *ngFor="let k of comboInfoModal.calibres" [ngValue]="k.nom">{{ k.nom }}</option>
      </select> 
      </ng-template> 
    </div>
    
    <div [ngClass]="{'has-danger': f.form.qVenudaC?.invalid && (f.form.qVenudaC?.dirty || f.form.qVenudaC?.touched)}" class="form-group row margin-bottom">
      <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.quVe | translate }}</label>
      <input type="number"  class="col-md-3 col-xs-12"  #qVenudaC = "ngModel"  id="qVenuda"    name="qVenuda"    [(ngModel)]="qVenuda" required>
      
      <div class="alert alert-danger" *ngIf="f.form.qVenudaC?.errors && (f.form.qVenudaC?.dirty || f.form.qVenudaC?.touched)">
        <div *ngIf="qVenudaC.errors?.required">Quantitat venuda obligatoria</div>
      </div>

      <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.peSo | translate }}</label>
      <input type="number"  class="col-md-3 col-xs-12"  #pSortidaC = "ngModel"  id="pSortida"    name="pSortida"    [(ngModel)]="pSortida" required>
    </div>
    <!-- <div class="form-group row margin-bottom">
      <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.tan | translate }}</label>
      <input type="text"  class="col-md-3 col-xs-12"    id="tancada"    name="tancada"    [(ngModel)]="tancada">
    </div> -->
        <button [disabled]="!f.form.valid" type="submit" class="btn btn-primary">{{ 'BOTTON.' + literals.ok | translate }}</button>
      </form>
  
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCancel(f)" >{{botonCerrar}}</button>
</div>