<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<div class="modal-header">
  <h4 class="modal-title pull-left">{{titulo}}</h4>
  
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>

  </div>

<div class="modal-body">

    <ul *ngIf="lista.length">
        <li *ngFor="let item of lista">{{item}}</li>
    </ul>

  <!-- https://v4-alpha.getbootstrap.com/components/forms/#form-controls -->

    <form #f="ngForm" (ngSubmit)="onConfirm(f)">
      <div class="form-group row margin-bottom" style="display: inline-flex">
        
            
        
            <label for="periode" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.produ | translate }}</label>
            <!-- <ngx-select name="multiSel" style="width:200px; display:inline-block;" [multiple]="true"
                    [items]="productesNom"
                    [disabled]="ngxDisabled"
                    [(ngModel)]="ngxValue"
                    [defaultValue]="provaStrings"
                    (selectionChanges)="canviProdForPeriode($event)">
        </ngx-select> -->
        <!-- <select class="col-md-3 col-xs-12" style="width:155px;" name="producteSelected" [(ngModel)]="producteSelected" (change) = "changeSelectedProd($event)" #producteSelectedC = "ngModel" required>
            <option *ngFor="let p of productesNom" [ngValue]="p">{{ p }} </option>
        </select> -->
        <select class="col-md-3 col-xs-12" name="productes" [(ngModel)]="producteSelected" #producteSelectedC = "ngModel" (change) = "changeSelectedProd($event)" required>
          <option *ngFor="let c of productesModal" [ngValue]="c">{{ c.nom }}</option>
      </select>
            <label for="id" class="col-md-2 col-xs-12" style="width: 13%;">{{ 'LITERALS_FORM.' + literals.per | translate }}</label>
            <select class="col-md-3 col-xs-12" style="width:260px;" name="periodeSelected" [(ngModel)]="periodeSelected" #periodeSelectedC = "ngModel" required>
                <option *ngFor="let p of periodes" [ngValue]="p">{{ p?.numPeriode + " - " + p?.tipusPeriode + " ("}} {{p?.dataInici | date: 'dd/MM/yyyy'}} - {{ p?.dataFi | date: 'dd/MM/yyyy'}} )</option>
            </select> 
          
      </div>

      <div class="form-group row margin-bottom">
        <div >
          <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.emp | translate }}</label>
          <select [disabled]="isUser" class="col-md-3 col-xs-12" name="empresaSelected" [(ngModel)]="empresaSelected" #empresaSelectedC = "ngModel" (change) = "changeSelectedEmp($event)" required>
              <option *ngFor="let e of empreses" [ngValue]="e">{{ e }} </option>
          </select>
        </div>
      </div>
        <button [disabled]="!f.form.valid" type="submit" class="btn btn-primary">{{ 'BOTTON.' + literals.ok | translate }}</button>

      </form>
  
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCancel(f)">{{botonCerrar}}</button>
</div>