<div class="container">
    <h1>Benvingut</h1>
</div>

<div *ngIf="islogged;else else_code" class="container">
    <p>Nom: {{this.miusuario?.firstname}}</p>
    <p>Cognom: {{this.miusuario?.lastname}}</p>
    <p>User: {{this.miusuario?.user}}</p>
    <p>Empresa: {{this.miusuario?.empresa?.codi}}</p>
    <p *ngFor="let rol of miusuario?.authorities">
        <li>{{rol?.authority}}</li>
    </p>
    
</div>

<ng-template #else_code>
    <div class="container">
        <p>No hay ningún usuario autentificado, por favor ves a la página de login</p>
    </div>
</ng-template>
    

