
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.per | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.tipPro | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.vari | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.colCa | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.cali | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.qual | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.quVe | translate }} (Kg)</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.peSo | translate }}</th>
            <th class="columnCenter">{{ 'LITERALS_COL.' + literals.quPe | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item?.id}}</td>
            <td>{{item?.periode}}</td>
            <td>{{ 'TIPUSPRODUCTE.' + item?.tipusProducte | translate }}</td>
            
            <ng-container *ngIf="item?.varietat;then content1 else other_content1"></ng-container>
            <ng-template #content1><td >{{ 'VARIETAT.' + item?.varietat | translate }}</td></ng-template>
            <ng-template #other_content1><td >-</td></ng-template>
            
            <ng-container *ngIf="item?.colorCarn;then content2 else other_content2"></ng-container>
            <ng-template #content2><td >{{ 'COLORCARN.' + item?.colorCarn | translate}}</td></ng-template>
            <ng-template #other_content2><td >-</td></ng-template>
            
            <td>{{ 'CALIBRE.' + item?.calibre | translate}}</td>
            <td>{{ 'QUALITAT.' + item?.qualitat | translate}}</td>
            <td>{{item?.quantitatVenuda}}</td>
            <td>{{item?.preuSortida}}</td>
            <td>{{item?.quantitatVenuda * item?.preuSortida}} €</td>
            <td>
                <button type="button" class="btnEnvio btn btn-custom" (click)="openModalToEdit(item)">Modificar</button>
            </td>
            <td>
                <button type="button" class="btn-custom btn btnEnvio" (click)="actionDelete(item)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>