<div class="modal-header">
  <h4 class="modal-title pull-left">{{titulo}}</h4>
  
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>

  </div>

<div class="modal-body">

    <ul *ngIf="lista.length">
        <li *ngFor="let item of lista">{{item}}</li>
    </ul>  
  
  <form #formulario="ngForm" (ngSubmit)="onConfirm(formulario)">
    <div class="form-group row margin-bottom">

      <div>
        <label  for="periode" class="col-md-2 col-xs-12">Producte</label>
        <ngx-select name="multiSel" style="width:200px; display:inline-block;" [multiple]="true"
                [items]="productesNom"
                [disabled]="ngxDisabled"
                [(ngModel)]="ngxValue"
                
                (selectionChanges)="doSelectOptions($event)">
        </ngx-select>
      </div>

    

    </div>
      <button type="submit" class="btn btn-primary">Acceptar</button>
  </form>
  </div>
  
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCancel(formulario)">{{botonCerrar}}</button>
</div>