<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>

    </div>
  
  <div class="modal-body">
  
      <ul *ngIf="lista.length">
          <li *ngFor="let item of lista">{{item}}</li>
      </ul>
  
    <!-- https://v4-alpha.getbootstrap.com/components/forms/#form-controls -->
  
      <form #f="ngForm" (ngSubmit)="onConfirm(f)">
        <div class="form-group row margin-bottom">
          <div>
              <label for="id" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.produ | translate }}</label>
              <input type="text"  class="col-md-3 col-xs-12"    id="producte"    name="producte"    [(ngModel)]="producte" value="{{datos_entrada?.producte}}" #producteC = "ngModel" required>
            </div>
              
          <div>
              <label for="periode" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.atr | translate }}</label>
              <!-- <input type="text"  class="col-md-3 col-xs-12"    id="nouPeriode"    name="nouPeriode"    [(ngModel)]="nouPeriode" value="{{datos_entrada?.periode}}"> -->
              <input [attr.disabled]="true" type="text"  class="col-md-3 col-xs-12"    id="atribut"    name="atribut" value="{{datos_entrada?.atribut}}">
            </div> 
        </div>
  
        <div class="form-group row margin-bottom">
          <div >
            <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.val | translate }}</label>
            <input  type="text"  class="col-md-3 col-xs-12"    id="valor"    name="valor"    [(ngModel)]="valor" value="{{datos_entrada?.valor}}" #valorC = "ngModel" required>
          </div>
            <div >
              <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.estat | translate }}</label>
              <select class="col-md-3 col-xs-12" style="width:260px;" name="estat" [(ngModel)]="estat" estatC = "ngModel" required>
                  <option *ngFor="let e of estats" [ngValue]="e">{{ e?.nom }} </option>
              </select>
            </div>
        </div>
      <div class="form-group row margin-bottom">
        <label for="campoC" class="col-md-2 col-xs-12">{{ 'LITERALS_FORM.' + literals.tipPro | translate }}</label>
        
        <ng-container *ngIf="datos_entrada?.subGrup == 'PI';then content"></ng-container>
        <ng-template #content>
          <input [attr.disabled]="true" name="subGrup"  type="text"  class="col-md-3 col-xs-12"    id="subGrup"  name="subGrup" value="Pinyol">
        </ng-template>

        <ng-container *ngIf="datos_entrada?.subGrup == 'LL';then content2"></ng-container>
        <ng-template #content2>
            <input [attr.disabled]="true" name="subGrup"  type="text"  class="col-md-3 col-xs-12"    id="subGrup"  name="subGrup" value="Llavor">
        </ng-template>
      </div>
      
          <button [disabled]="!f.form.valid" type="submit" class="btn btn-primary">{{ 'BOTTON.' + literals.ok | translate }}</button>
  
        </form>
    
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel(f)">{{botonCerrar}}</button>
  </div>